{% extends 'base.html.twig' %}

{% block title %}See the suites{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="row">
    {% for suite in suite %}
        <div class="col-4 mt-4">
            <h2>{{ suite.suiteName }}</h2>
            <p>{{ suite.suitePrice }} €</p>
            {#<a href="/{{hotel.hotelSlug}}" class="btn">{{suite.hotel }}</a>#}
            <a href="#" class="btn">{{suite.hotel }}</a>
            <p>{{ suite.suiteDescription }}</p>
            {#<p>{{ suite.bookings }} </p>#}
            {#<a href="#" class="btn">Interested? Check availability for this suite:</a>#}
            <a href="#" class="btn">Book this suite</a>

            {{ form_start(suiteForm) }}
                {{ form_row(suiteForm.startDate) }} <p>Select dates:</p>
                {{ form_row(suiteForm.endDate) }}
                {{ form_row(suiteForm.client) }}
                {{ form_row(suiteForm.suite) }}
                {#<p>Select number of people:</p>#}
            {{ form_end(suiteForm) }}
            {#<a href="{{path("app_bookings_add", {id:suite.id}, {id:client.id} )}}" class="btn">Book this suite</a>#}
    {% endfor %}
</section>
{% endblock %}