{% extends 'base.html.twig' %}

{% block title %}Our Seven Hotels{% endblock %}

{% block body %}
            <section class="row">
                {% for hotel in hotel %}
                    <div class="col-4 mt-4">
                        <h2 class="h2 text-indigo-700">{{ hotel.hotelName }}</h2>
                        <p>{{ hotel.hotelAddress }}</p>
                        <p>{{ hotel.hotelCity }}</p>
                        {# <a href= path: app_suite/hotel.suite #}
                        {# {{path("app_bookings_add", {id:suite.id}#}
                        {% for suite in suite %}
                            <a href="{{path("app_suites", {id: hotel.id}) }}" class="btn">See this hotel's suites</a>
                        {% endfor %}
                {% endfor %}
            </section>
        </div>
    </div>
</div>

{% endblock %}

